<h1 class="team_title">Our Team</h1>
<ul class="list-inline text-center">
  <% ["anne", "seb", "romain"].each do |member| %>
    <li>
      <h3><%= member.capitalize %></h3>
      <%= image_tag "#{member}.jpg", class: "img-circle" %>
    </li>
  <% end %>
</ul>

<!-- HTML output -->
<!-- <ul class="list-inline text-center">
  <li>
    <img src="images/anne.jpg" alt="">
    <h3>Anne</h3>
  </li>
  <li>
    <img src="images/seb.jpg" alt="">
    <h3>Seb</h3>
  </li>
  <li>
    <img src="images/romain.jpeg" alt="">
    <h3>Romain</h3>
  </li>
</ul> -->
